.clickableFruitGridContainer {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 20;
	width: 100%;
}

.clickableFruitGrid {
	display: grid;
	grid-template-columns: repeat(6, minmax(50px, 1fr));
	gap: 10px;
	max-width: 500px;
	margin-bottom: 25px;
}