:root {
	--off-black: #191919;
	--off-white: #FFF2F1;
	--grey: #D7C0D0;
	--apple: #DE5F4A;
	--pear: #B3CC65;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--off-black);
	line-height: 1.5;
	margin: 0;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	object-fit: contain;
}

h2,
h1 {
	width: 100%;
	margin-top: 75px;
	padding: 25px;
	background-color: var(--grey);
	font-family: 'Anaheim', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	box-sizing: border-box;
}

.App {
	text-align: center;
	font-family: 'Commissioner', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.TitleCard {
	margin-bottom: 25px;
	width: 100%;
}

.Credits {
	list-style-position: inside;
	margin-top: 100px;
}

.PlayableContainer,
.Section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.PlayableContainer {
	background-color: #FFF2F1;
	color: var(--off-black);
	box-shadow: 0 8px 4px var(--grey);
	padding-top: 35px;
	padding-bottom: 35px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.Playable,
.SectionText {
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	padding: 25px;
}