body {
	font-family: 'Roboto', sans-serif;
	background-color: #f0f0f0;
	line-height: 1.5;
}

.App {
	text-align: center;
	max-width: 800px;
}

.AppContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.TitleCard {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 20px;
	padding: 20px;
	width: 100%;
}